.tab-list {
  margin-bottom: 20px;
}

.tab-list li {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 364px;
  border-radius: 8px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  padding: 22px 20px;
  opacity: 0.5;
  position: relative;
  cursor: pointer;
}

.tab-list li.active {
  background: #1f1f1f;
  color: #fff;
  opacity: 1;
  z-index: 0;
  cursor: pointer;
}

.tab-content {
  border-radius: 4px;
  width: 50%;
  background: #191919;
  color: #7b7b7b;
}

.progress-bar {
  position: absolute;
  left: 0;
  bottom: 1px;
  right: 0;
  height: 1px;
  background-color: transparent;
  border-radius: 4px;
  overflow: hidden;
  z-index: 0;
}

.progress {
  height: 100%;
  background-color: #fcd935;
  width: 0;
  border-radius: 8px;
  animation: progressAnimation 3s ease-in-out;
}

@keyframes progressAnimation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.controls {
  margin-top: 10px;
}

.tabs-wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

}