@import '../../variable.scss';

header {
    padding: 25px 0;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: $color-black-0;
    z-index: 1;
}

nav {
    @extend %align-end-justify-between;
    .logoAndTitle{
        @extend %align-end;
        gap: 0.7rem;
        img{
           max-width: 35px;
        }
    }
    .logo {
        font-size: 2.8rem;
        color: $color-white-0;
        font-weight: 700;
        letter-spacing: 0.7rem;
        line-height: 1.9rem;
    }
    ul {
        @extend %align-end-justify-end;
    }
    li {
        a {
            font-size: 1.6rem;
            color: $color-white-0;
            padding: 5px 15px 0;
            line-height: 0px;
        }
    }
}