@import './variable.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background-color: $color-black-0;
    color: $color-white-0;
    font-family: sans-serif;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    width: 100%;
    padding-inline: 15px;
    margin-inline: auto;
}

.heading {
    h2 {
        font-size: 6rem;
        font-weight: 800;
        letter-spacing: 1px;
        line-height: 1;
        max-width: 50%;
    }
    p {
        font-size: 20px;
        line-height: 1.35;
        font-weight: 300;
        padding-top: 15px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;        
    }   
}