$color-black-0: #000000;
$color-black-1: #212121a6;
$color-black-2: #212121;
$color-black-3: #808080;

$color-white-0: #ffffff;

%align-center {
    display: flex;
    align-items: center;
}

%justify-center {
    display: flex;
    justify-content: center;
}

%justify-between {
    display: flex;
    justify-content: space-between;
}

%align-justify-center {
    display: flex;
    align-items: center;
    justify-content: center;    
}

%align-justify-between {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}