@import '../../../variable.scss';

.bannerContent {
    min-height: calc(100vh - 73px);
    @extend %align-justify-center;
    flex-direction: column;
    text-align: center;
    h1 {
        font-size: 4rem;
        padding-bottom: 60px;
        max-width: 600px;
        margin-inline: auto;
    }
    p {
        font-size: 1.6rem;
    }
}