@import '../../../variable.scss';

.bannerContent {
    min-height: calc(100vh - 73px);
    @include align-justify-center;
    flex-direction: column;
    text-align: center;
    h1 {
        font-size: 4rem;
        padding-bottom: 60px;
        max-width: 600px;
        margin-inline: auto;
        line-height: 1.3;
    }
    p {
        font-size: 1.6rem;
    }
}